* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', cursive;
    background-color: #f5f5f5;
    background-image: url("../res/media/img/bg.jpg");
}

header {
    width: 100ù;
    margin: auto;
    text-align: center;
}

#main-form-wrap {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    textarea {
        width: 100%;
        height: 100px;
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        resize: none;
        font-family: 'MedievalSharp', cursive;
    }
    button {
        width: 100%;
        height: 50px;
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        background-color: #fff;
        cursor: pointer;
        &:hover {
            background-color: #ccc;
        }
        font-family: 'MedievalSharp', cursive;
    }
}